#recept-naam {
    font-size: 2em;
    /* Boven en onder een klein beetje ruimte overhouden, links en rechts komt de standaard ruimte. */
    margin: .25em auto;
    font-weight: bold;
    width: 100%;
    word-wrap: break-word;
    font-family: Nunito,sans-serif;
}

#recept-plaatje {
    /* vh zodat het 50% van het scherm wordt, in plaats van de totale pagina.*/
    width: 100%;
    height: 50vh;
    
    object-fit: cover;
}

/* Kort stukje over het recept */
#recept-omschrijving {
    font-size: 1.25em;
    font-style: italic;
    text-align: center;
    font-family: serif;
}

#recept-gegevens, .recept-tags {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: .1em 0;
}

.recept-gegeven {
    margin: 0 .5em;
}

.recept-tag {
    margin: 0 .5em;
    padding: .25em .5em;
    border-radius: 1em;
    background-color: lightgrey;
}

/* Opmaak van de lijst met ingredienten en de bereiding */
.recept-inhoud {
    display: grid;
    grid-template-columns: 30% 1fr;
    column-gap: 1em;
}

@media screen and (max-width: 1023px)
{ 
    .recept-inhoud {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content;
    }
}

/* Streep rechts naast ingredienten, als scheiding tussen ingredienten en bereiding */
.ingredienten {
    border-right: 1px black solid;
}

li {
    display: flex;
    align-items: center;
}

li::before {
    content: '\25E6  ';
    font-size: 3em;
    margin-right: -1em 1rem -1em 0;
}

.review-sectie {
    max-width: 600px;
}

.review {
    display: grid;
    grid-template:
        "foto naam" min-content
        "foto score" min-content
        "foto review" auto / 100px 1fr;
    column-gap: 1em;
    border: 1px solid black;
    margin-bottom: 1em;
    padding: .5em;
}

.reviewer {
    font-size: 1em;
    font-weight: bold;
    grid-area: naam;
}

.reviewer-avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    grid-area: foto;
    margin: auto;
    background: purple;
}

.reviewer-avatar > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.review-score {
    grid-area: score;
}

.review-tekst {
    grid-area: review;
    text-overflow: ellipsis;
    white-space: break-spaces;
    overflow: hidden;
}